@media screen and (max-width:768px) {
    .lessons>.container {
        width: 768px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media screen and (max-width:768px) {
    .steps>.container {
        width: 768px;
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media screen and (max-width:768px) {
    .why-us>.container {
        width: 768px;
        margin: 0 auto;
        padding: 0 20px;
    }
}




@media screen and (max-width:480px) {
    .lessons>.container {

        width: 680px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .steps>.container {

        width: 680px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .why-us>.container {
        width: 680px;
        margin: 0 auto;
        padding: 0 20px;
    }


    .steps.text-center {
        margin-bottom: 0;
    }

    .why-us {
        background-color: #222222;
    }

    .row {
        flex-direction: column;
    }
}